ul {
  position: relative;
}
.columns {
  display: inline-block;
  width: 50%;

}
section {
  display: inline-block;
  width: 50%;
  margin-top: 7%;
}

.sr {
  display: flex;
}
form {
  margin: 30px 20px;
  position: relative;
  border-bottom: 1px solid #ddd;
}
body {
  background-color: rgb(247,247,247);
}

#container {
  position: relative;

}
#first {
  float: left;
}
#second {
  float: right;
}
