body {margin:0}
nav {
  display: inline-block;
  align-items: center;
}
header {
  background: #fff;
  margin-top: 0;
  padding-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25);
  border-radius: 10px;
}
h1 {
  font-family: 'Leckerli One';
  display: inline-block;
  color: rgb(80,98,115);
  margin-left: 20px;
}
nav ul {
  list-style: none;
  margin: 0 auto;
  width: 100%;
  padding-left: 0;
  text-align: center;
  overflow: hidden;
}
nav ul li {
  float: left;
  margin-right: 45px;
}
nav ul li:last-child {
  margin-right: 0;
}
nav ul li:first-child {
  margin-left: 45px;
}
nav ul li a {
  text-decoration: none;
  color: rgb(92,107,121);
  display: block;
  font-family: 'Comfortaa', sans-serif;
  margin: auto;
  padding-bottom: 5px;
  position: relative;
  transition: all .3s ease-in-out;
}
nav ul li a:hover {
  color: rgb(41,187,156);
}
nav ul li a::after {
  content: "";
  width: 0;
  height: 2px;
  position: absolute;
  left: 0;
  bottom:0px;
  background: rgb(41,187,156);
  transition: width .5s linear;
}
nav ul li a:hover::after {
  width: 100%;
}
