
form input {
  height:20px;
  width: 220px;
  padding: 5px 8px;
}
form button {
  margin-left: 156px;
}

fieldset {
  border: none;
  margin: 0 0 10px 0;
  padding: 0 0 10px 0;

}

legend {
  font-family: "Exo 2", sans-serif;
  font-size: 1.5em;
  text-align: center;
  color: rgb(53,52,52);
}
label {
  font-family: "Exo 2",sans-serif;
  width:150px;
  margin-top: 3px;
  display: inline-block;
  float: left;
  padding: 3px;
}
em {
  color: rgb(171, 18, 19);
  font-weight: bold;
  font-size: 25px;
  font-family: serif;

}
*:focus {
  outline: none;
}
form ul {
  /*width:750px;*/
  list-style-type: none;
  list-style-position: outside;
  margin: 0px;
  padding: 0px;
}
form li {
  padding: 12px;
  border-bottom: 1px solid #eee;
  /*position: relative;*/
}
form li:last-child {
  border-bottom: none;
}
form input:focus {
    padding-right:70px;
}
form input {
    padding-right: 30px;
    display: inline-block;
    -moz-transition: padding .25s;
    -webkit-transition: padding .25s;
    -o-transition: padding .25s;
    transition: padding .25s;
}
input:required {
    background: #fff url(images/red_asterisk.png) no-repeat 98% center;
    border: 1px solid #AAA;
}
form input:focus:invalid {
    background: #fff url(images/invalid.png) no-repeat 98% center;
    box-shadow: 0 0 5px #d45252;
    border-color: #b03535
}
form input:required:valid {
    background: #fff url(images/valid.png) no-repeat 98% center;
    box-shadow: 0 0 5px #00B16A;
    border-color: #00B16A;
}

span {
    background: #d45252;
    border-radius: 3px 3px 3px 3px;
    font-family: 'Exo 2';
    color: white;
    margin-left:8px;
    padding: 1px 6px;
    z-index: 999;
    position: absolute;
    display: none;
}

span::before {
    content: "\25C0";
    color:#d45252;
    position: absolute;
    top:1px;
    left:-6px;
}
form input:focus + span {
  display: inline;
}
form input:required:valid + span {
  background: #00B16A;
}

form input:required:valid + span::before {
  color: #00B16A;
}

.i2Style {
  border-radius: 5px;
  padding: 15px 35px;
  font-size: 22px;
  font-family: 'Exo 2';
  width: 200px;
  color: white;
  background: #E91E63;
  /*background: #00B16A;
  box-shadow: 0 5px 0 #1E824C;*/
  box-shadow: 0 5px 0 #880E4F;
  cursor: pointer;

  border: none;
  transition: all 1s ease-in-out;
}
.i2Style:hover {
  background: #EC407A;
}
